@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');

html {
    font-family: helvetica;
}

#nugget {
    width: 600px;
    display: block;
    margin: 0 auto;
}

div#personal-information {
    list-style: none;
    width: 350px;
    text-align: center;
    margin: 0 auto 30 auto;
    color: #fff;
    font-size: 30px;
}

a.writing {
    color: #fff;
}

div#title {
     color: #fff;
     width: 350px;
     margin: 50 auto 10 auto;
     font-family: monospace;
     font-size: 40px;
     text-align: center;
}

ul > li {
    text-align: center;
}

div#samples > div{
    width: 95%;
    height: 330px;
    margin-left: 20px;
    margin-bottom: 40px;
}

div.heading {
    width: 10%;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin-right: 25px;
}

div.box {
    max-width: 42%;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
}

div#album-reviews > div {
    max-width: 27%;
}

div#interviews > div {
    max-width: 27%;
}

span.text-content {
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 101%;
    text-align: justify;
    padding-left: 18px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.article-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

span.text-content span {
  width: 90%;
  float: left;
  font-size: 14px;
  font-style: italic;
  line-height: 135%
}

span.text-content:hover {
  opacity: 1;
}

a > img {
    width: 100%;
    border-radius: 8px;
}

span > img.logo {
    display: block;
    max-width: 100px;
    max-height: 50px;
    margin: 15 auto;
}

#writing {

    background-color: #000;
}

.icon {
        position: relative;
        text-decoration: none;
	color: #fff;
	cursor: pointer;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        };
