@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');

html {
    font-family: helvetica;
    background: #fff;
    color: #000;
}

form#subscribe-form {
        font-family: monospace;
        padding: 10px;
        border: 3px solid #cc3a3a;
        border-radius: 3px;
        text-align: center;
}

#nugget {
    width: 600px;
    display: block;
    margin: 0 auto;
}

div#personal-information {
    width: 350px;
    text-align: center;
    margin: 0 auto 30 auto;
    font-size: 30px;
}

div#personal-information > a {
    padding: 0 6 0 6;

}
div#copy-text {
    margin: 50px 0px 25px 0;
    font-family: monospace;
    font-size: 1.5em;
    text-align: justify;
}

div#content {
    width: 500px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul#contact {
    list-style: none;
    padding: 0px;
}

ul#contact > li {
    margin-bottom: 8px;
}

ul#contact > li > a {
    padding: 5px;
}


a.writing {
    color: #fff;
}

div#title {
     width: 350px;
     margin: 50 auto 10 auto;
     font-family: monospace;
     font-size: 40px;
     text-align: center;
}

div#title > a {
    text-decoration: none;
    color: #fff;
}

ul > li {
    text-align: center;
}

div#samples > div{
    width: 95%;
    height: 315px;
    margin-left: 20px;
    margin-bottom: 40px;
}

div.heading {
    width: 10%;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin-right: 25px;
}

div.box {
    max-width: 41.5%;
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
}

div#album-reviews > div {
    max-width: 27%;
}

div#interviews > div {
    max-width: 27%;
}

span.text-content {
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 101%;
    text-align: justify;
    opacity: 0;
    border-radius: 8px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.article-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

span.click {
	font-weight: bold;
    	color: #c32700;
	display: block;
	text-align: center;
	margin-top: 5px;
}

span.text-content span {
    width: 90%;
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 135%;
    padding-left: 1em; 
}

span.text-content:hover {
  opacity: 1;
}

a > img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

span > img.logo {
    display: block;
    max-width: 100px;
    max-height: 50px;
    margin: 15 auto;
}

#writing {

    background-color: #000;
}

.icon {
        position: relative;
        text-decoration: none;
        color: #000;
	cursor: pointer;
        font-size: xx-large;
    }

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
};
